@{
    ViewData["Title"] = "Dashboard";
}
<h3>Tribe-Member Name: @Html.Raw(ViewData["TribeName"] + "-" + ViewData["MemberName"]) </h3>
<div class="row">
    Generate a cache item: <input type="button" id="btnGenerate" class="btn btn-link btn-" value="Generate" onclick="" />
</div>
<div class="row">
    <ul>All Cache Items:
        @foreach (var k in (List<string>)ViewData["Data"])
        {
            <li>@k</li>
        }
    </ul>
</div>
