@{
    ViewData["Title"] = "Dashboard";
    var list = (List<string>)ViewData["Data"];
    if (list == null) {
        list = new List<string>(); 
    } 
}
<div class="row panel well">
    <div class="cl-md-8 pull-left">
        <h1>Dashboard</h1>
    </div>
    <div class="cl-md-6 pull-right">
        <h3>Tribe Name: @Html.Raw(ViewData["TribeName"])</h3>
        <h4>Member Name: @Html.Raw(ViewData["MemberName"])</h4>
    </div>
</div>
<div class="row">
    <span class="pull-right">
        Generate a cache item: <input type="button" id="btnGenerate" class="btn btn-success" value="Generate" onclick="generateCacheItem();" />
    </span>
</div>
<hr />
<div class="list-group">
    <div class="list-group-item active panel-title">All Cache Items<span class="badge">@list.Count</span></div>
    @foreach (var k in list) {
        <div class="list-group-item">
            <div class="row inline">
                <div class="col-md-10 pull-left">
                    &nbsp;@k
                </div>
                <div class="cl-md-2 pull-right"> 
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-danger"onclick="removeCacheItem('@k');">
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                    &nbsp;
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $.toast('Refreshing page..')
                setTimeout(function () {
                    location.reload(true);
                }, 1000);
            }, 1000);
        });
    </script>
}