@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Yakari</h1>
    <hr/>
    Yakari is simply in memory cache distributor.
    <br /> 
    <br /> 
    <div class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;Project is aimed to reduce distributed caching systems serialization/deserialization and network operation costs. You simply work with your localCache, the GreatEagle observe's your operations and take care of everything. In yakari if you set 1 object it makes 1 serialization and 1 network operation, for first get operation it makes 1 network operation, 1 deserialization, after then there is no deserialization or network operation you can get your cache object from your localCache, how much you want.</div>
</div>
