<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="7.1.6" targetFramework="net461" />
  <package id="LightInject" version="4.1.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.1.606" targetFramework="net461" />
</packages>