<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="6.1.1" targetFramework="net452" />
  <package id="LightInject" version="4.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.2.0" targetFramework="net452" />
  <package id="NUnit.ReSharperRunner3" version="3.0.12" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net452" />
</packages>